<!DOCTYPE html>
<html lang="en">
<head>

  <title>Life Cycle Assessment</title>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result temp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>

  <nav class="navbar navbar-light bg-light" style="background-color: #351C75 !important;">
    <span class="navbar-brand mb-0 h1" style="color: white;font-size: x-large;font-style: bold;">Map My Project To
        LCA</span>
    <br>
    <br>
</nav>

<div align="center">

<br>
  <h2>Upload and Detect</h2>
  <p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
  </p>
  <form method=post enctype=multipart/form-data>
      <p><input class="btn btn-light" type=file name=file>
          <input class="btn btn-dark" type=submit value="Compare">
  </form>
<br>
  
</div>
</body>
</html>